@pages "/Estudiantes"
 @using Data.Models

<form>
    <pagetitle> Registro de Estudiantes</pagetitle>
    <h1>Estudiantes</h1>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputnombre">Nombres</label>
      <input type="nombre class="form-control" id="Agustin" placeholder="Email">
    </div>
    <div class="form-group col-md-6">
      <label for="inputapellido">Apellidos</label>
      <input type="Apellido" class="form-control" id="inputApellido" placeholder="Password">
    </div>
  </div>
  <div class="form-group">
    <label for="inputFechaNacimiento">FechaNacimiento</label>
    <input type="text" class="form-control" id="inputFechaNacimiento" placeholder="1234 Main St">
  </div>
  <div class="form-group">
    <label for="inputMatricula">Matricula</label>
    <input type="text" class="form-control" id="inputMatricula" placeholder="Apartment, studio, or floor">
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputCarrera">Carrera</label>
      <input type="text" class="form-control" id="inputCarrera">
    </div>
  </div>
  <div class="form-group">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="gridCheck">
      <label class="form-check-label" for="gridCheck">
        Check me out
      </label>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Sign in</button>
</form>